body{
    background-color: #e9ecef !important;
    text-align:center;
    font-family:Arial !important;
}
.brand{
    color:deeppink !important;
}
.purple{
    color:darkorchid !important;
}
h3{
    color:darkorange !important;
}
ul{
    list-style-type: square !important;
}
.list{
    list-style-position: inside !important;
}
.left{
    text-align: left;
}
.price{
    font-size:10px;
    background-color:#444444;
    color: white;
    padding: 10px;
    border-radius: 15px;
}