.round{
    border-radius: 50px;
}
.top-custom{
    background-color: #C4E2FF;
    border-bottom: 1px solid #292929;
}
.nav-height{
    height: 76px;
}
.left{
    margin-left: 70px;
}
.right{
    margin-right: 70px;
}
.black{
    color:black;
}
body{
    font-family: 'PT Serif', serif;
}
.aside-buttons > li{
    margin-bottom: 10px;
}
.inline{
    display: inline;
}
.border-top-dark{
    border-top:1px solid rgba(230,230,230,1);
}
aside{
    position: sticky;
    top:10px;
}